page-login{
  .logo{
    display: block;
    width: 200px;
    margin: 50px auto;
  }
  .btn-group{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    .btn-login, .btn-scan{
      font-size: 2rem;
      height: 4rem;
      width: 45%;
    }
  }
  .info{
    color: #9b9b9b;
    font-size: 12px;
  }
}