app-topic-item {
  .item-md {
    padding: 0 16px !important; 
    align-items: flex-start;
    ion-avatar {
      margin-top: 13px !important;
    }
    ion-label {
      white-space: normal;
      margin: 13px 8px 13px 0;
      .title {
        color: $black;
        font-size: 16px;
        margin: 10px 0;
      }
      .name {
        color: $black;
        font-size: 18px;
        margin-top: 0;
      }
      .time {
        color: $gray;
        font-size: 14px;
      }
      .info {
        display: flex;
        justify-content: space-between;
        .badges{
          display: flex;
        }
        ion-badge {
          width: 50px;
          height: 20px;
          line-height: 20px;
          border-radius: 0px;
          font-size: 12px;
          font-weight: normal;
          padding: 0;
          margin-right: 10px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
      .mata {
        font-size: 12px;
        color: #cccccc;
        &>span {
          margin-right: 10px;
        }
        ion-icon {
          margin-right: 6px;
          margin-top: 1px;
        }
        ion-icon,
        span {
          vertical-align: middle;
        }
      }
    }
  }
}
