<ion-item (click)="emit()">
  <ion-avatar item-left>
    <img src="{{topic.author.avatar_url | protocol}}">
  </ion-avatar>
  <div class="info">
    <h2 class="name">{{topic.author.loginname}}</h2>
    <ion-badge color="primary" *ngIf="topic.top">置顶</ion-badge>
    <ion-badge color="danger" *ngIf="topic.good">精华</ion-badge>
  </div>
  <p class="time"  [hidden]="mini">{{topic.create_at}}</p>
  <h3 class="title">{{topic.title}}</h3>
  <p class="mata" [hidden]="mini">
    <span><ion-icon name="eye"></ion-icon><span>{{topic.visit_count}}</span></span>
    <span><ion-icon name="chatbubbles"></ion-icon><span>{{topic.reply_count}}</span></span>
  </p>
</ion-item>
