<ion-header>
  <ion-navbar>
    <ion-title (click)="scrollToTop()">{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="navToAddTopicPage()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only (click)="navToProfilePage()">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content #content>

  <ion-refresher (ionRefresh)="refresh($event)" [pullMin]="60" [pullMax]="200">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="下拉刷新..."
      refreshingSpinner="circles"
      refreshingText="正在刷新..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-list class="list">
    <app-topic-item *ngFor="let item of topicList" [topic]="item" (onClick)="navToDetailPage(item)"></app-topic-item>
  </ion-list>
  
  <div class="loadmore" *ngIf="onOff.loadMoreByUser" (click)="loadMore()">加载更多</div>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)" [hidden]="onOff.loadMoreByUser || !onOff.canLoadMore" [enabled]="onOff.canLoadMore">
    <ion-infinite-scroll-content
      loadingSpinner="circles"
      loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
