<ion-header>
  <ion-navbar>
    <ion-title (click)="scrollToTop()">主题详情</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="scrollToReply()">
        <ion-icon name="chatboxes"></ion-icon>
        <ion-badge [hidden]="!topic.reply_count">{{topic.reply_count}}</ion-badge>
      </button>
      <button ion-button icon-only>
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content #content>
  <div class="topic" padding>
    <h2 class="title">{{topic.title}}</h2>
    <div class="mata">
      <img src="{{topic.author.avatar_url | protocol}}">
      <div class="info">
        <p class="name">{{topic.author.loginname}}</p>
        <p>{{topic.create_at | moment: 'fromNow'}}</p>
      </div>
    </div>
    <div class="markdown-body" [innerHTML]="topic.content | link"></div>
  </div>
  <!-- *ngIf="spinner" -->
  <div class="spinner-box" *ngIf="spinner">
    <ion-spinner color="primary"></ion-spinner>
    <p>加载中...</p>
  </div>
  <div class="reply" #reply [hidden]="!topic.reply_count || !topic.replies">
    <div class="title" padding>回复&nbsp;{{topic.reply_count}}</div>
    <ion-list class="list">
      <ion-item *ngFor="let item of topic.replies" padding>
        <div class="header">
          <div class="left">
            <ion-avatar item-left>
              <img src="{{item.author.avatar_url | protocol}}">
            </ion-avatar>
            <div class="info">
              <p class="name">{{item.author.loginname}}</p>
              <p class="time">{{item.create_at | moment: 'fromNow'}}</p>
            </div>
          </div>
          <div class="right">
            <button ion-button icon-left clear (click)="up(item)" class="btn-up" [ngClass]="{'has-up': item.ups.indexOf(userInfo.id) !== -1}">
              <ion-icon name="thumbs-up"></ion-icon>
              <span *ngIf="item.ups.length" class="up-length">{{item.ups.length}}</span>
            </button>
          </div>
        </div>
        <div class="body">
          <div class="markdown-body" [innerHTML]="item.content | link"></div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer *ngIf="topic.replies">
  <button ion-button icon-left clear (click)="collect()">
    <ion-icon name="{{topic.is_collect ? 'heart' : 'heart-outline'}}" color="{{topic.is_collect ? 'danger' : 'light'}}"></ion-icon>
    {{topic.is_collect ? '已收藏' : '收藏'}}
  </button>
  <button ion-button icon-left clear>
    <ion-icon name="chatboxes"></ion-icon>
    回复
  </button>
</ion-footer>